<h1 class="text-center">Se cambio la URL, redireccionando...</h1>

<br />

<h4 class="text-center">chile-crypto.herokuapp.com</h4>

<br />

<div class="loading">Loading&#8230;</div>

<meta HTTP-EQUIV="REFRESH" content="3; url=https://chile-crypto.herokuapp.com/">